@import url("https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;600;700&display=swap");

@import "tailwindcss";
@plugin '@tailwindcss/typography';
body {
  background-color: #19001c;
  color: white;
  font-family: "Afacad", sans-serif;
  overflow-x: hidden;
}
button{
  cursor: pointer;
}

.main-container {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}

.prose ul > li {
  line-height: 1.2; 
  margin-top: 0.1em; 
  margin-bottom: 0.1em;
}
.prose ol > li {
  line-height: 1.2; 
  margin-top: 0.1em; 
  margin-bottom: 0.1em;
}
.prose-lg :where(ul):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  padding-inline-start: 0;
}
.prose-lg :where(ol):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  padding-inline-start: 0;
}


.light-txt-color {
  color: #8F8F8F;
}

.primary-txt-color{
  color: #FBE5D8;
}
.cs_shadow{
  box-shadow: -3px 10px 44px -1px rgba(83,41,89,0.5);
-webkit-box-shadow: -3px 10px 44px -1px rgba(83,41,89,0.55);
-moz-box-shadow: -3px 10px 44px -1px rgba(83,41,89,0.5);
}

.hover_class:hover{
  @apply bg-gradient-to-r from-[#532959] via-[#824D69] to-[#532959] text-white rounded-lg hover:from-[#5d2f63] hover:via-[#8d5674] hover:to-[#5d2f63];
}



/* # marquee */
